/* line 3, ../compass/sass/_homemade_grid.scss */
.container {
  width: 1140px;
  margin: auto;
}

/* line 7, ../compass/sass/_homemade_grid.scss */
.col-1 {
  width: 95px;
  float: left;
}

/* line 12, ../compass/sass/_homemade_grid.scss */
.col-2 {
  width: 190px;
  float: left;
}

/* line 16, ../compass/sass/_homemade_grid.scss */
.col-6 {
  width: 570px;
  float: left;
}

/* line 2, ../compass/sass/_header.scss */
ul li {
  color: #d1d2d4;
}
/* line 4, ../compass/sass/_header.scss */
ul li a {
  color: #a2ffa4;
  text-decoration: underline;
}

/* line 11, ../compass/sass/_header.scss */
a {
  text-decoration: none;
}
/* line 13, ../compass/sass/_header.scss */
a h1 {
  color: #d2d4d5;
  font-size: 30px;
}

/* line 6, ../compass/sass/_footer.scss */
.main {
  background: blue;
}
/* line 8, ../compass/sass/_footer.scss */
.main li {
  font-size: 1px;
}

/* line 13, ../compass/sass/_footer.scss */
.container {
  font-size: 14px;
}
/* line 15, ../compass/sass/_footer.scss */
.container li {
  list-style: none;
  font-size: 15px;
}
/* line 18, ../compass/sass/_footer.scss */
.container li a {
  text-decoration: none;
}

/* line 7, ../compass/sass/styles.scss */
h1 {
  color: #0caaff;
  font-size: 80px;
}

/* line 21, ../compass/sass/styles.scss */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  width: 100px;
}
